.wholeArea {
    height: 600px;
}

.wholeArea > .left-area {
    border: 2px solid red;
    background-color: yellow;
}

.wholeArea > .right-area {
    border: 2px solid black;
    background-color: navajowhite;
}

.left-area > .test-deck-blank,
.left-area > .test-cab-blank {
    height: 20px;
    background-color: purple;
}

.left-area > .test-deck-lays > .test-deck-lay-index,
.left-area > .test-cab-lays > .test-cab-lay-index {
    height: 20px;
    background-color: green;
}

.left-area > .test-hat {
    height: 20px;
    background-color: #0f6674;
}

.right-area {
    /* 内部元素水平居中 */
}

.right-area > .test-deck-area


