{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'js/tool/jquery.js' %}"></script>
    <link href="{% static 'images/smu.jpg' %}" rel="icon">
    <link href="{% static 'css/custom.yard.css' %}" rel="stylesheet">
</head>
<body class="body">
<!--写出详细贝位-->
<div class="bay_blank">贝位</div>
<div id="container_information" class="container_information" hidden="true">
    <div class="con-info-table-outer">
        <table class="container_information_table">
            <tr>
                <td height="10%" id="container_information_title" colspan="11" bgcolor="#a9a9a9">**贝位详细信息</td>
            </tr>
        </table>
    </div>
    <div id="add_table">
        <table class="add_table">
            <tr>
                <td width="40%">场箱位</td>
                <td id="add1">BBB</td>
            </tr>
            <tr>
                <td>状态</td>
                <td id="add2"></td>
            </tr>
            <tr>
                <td>箱号</td>
                <td id="add3"></td>
            </tr>
            <tr>
                <td>装卸船</td>
                <td id="add4"></td>
            </tr>
            <tr>
                <td>箱型</td>
                <td id="add5"></td>
            </tr>
            <tr>
                <td>箱重</td>
                <td id="add6"></td>
            </tr>
            <tr>
                <td>卸货港</td>
                <td id="add7"></td>
            </tr>
            <tr>
                <td>尺寸</td>
                <td id="add8"></td>
            </tr>
            <tr>
                <td>持箱人</td>
                <td id="add9"></td>
            </tr>
            <tr>
                <td>装卸日期</td>
                <td id="add10"></td>
            </tr>
        </table>
    </div>
</div>
<!--写贝位-->
<div class="bay_Y"></div>
<div class="box_title"></div>
<div class="box_area"></div>
<script src="{% static 'js/tool/jquery_v3/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/custom.yard.js' %}"></script>
</body>
</html>