{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{% static 'css/tool/bootstrap_v4/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom.input.css' %}" rel="stylesheet">
  <link href="{% static 'css/tool/google-api.css' %}" rel="stylesheet">
</head>
<body id="page-top">
<div class="loadOrUnloadArea">
<!-- TODO: form or layout input  -->
    <h2> add response data to js...</h2>
</div>
<div class="vesselBasicInput">
  <div class="col-md-9">
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon input-group-lg">船名</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <span class="input-group-addon input-group-lg">进口航次</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2">
      </div>
      <div class="input-group">
        <span class="input-group-addon input-group-lg">出口航次</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon3">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon input-group-lg">计划靠泊</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon3">
      </div>
      <div class="input-group">
        <span class="input-group-addon input-group-lg">计划离泊</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon4">
      </div>
      <div class="input-group">
        <span class="input-group-addon input-group-lg">出口航次</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon3">
      </div>
      <div class="input-group">
        <span class="input-group-addon input-group-lg">实际靠泊（时间）</span>
        <input type="text" class="form-control" placeholder="船名" aria-describedby="basic-addon4">
      </div>
    </div>

    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon input-group-lg">@</span>
        <input type="text" class="form-control" placeholder="船名" aria-describedby="basic-addon5">
      </div>

      <div class="input-group">
        <span class="input-group-addon input-group-lg" id="basic-addon6">@</span>
        <input type="text" class="form-control" placeholder="船名" aria-describedby="basic-addon6">
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/tool/jquery.js' %}"></script>
<script src="{% static 'js/tool/bootstrap_v4/bootstrap.min.js' %}"></script>
</body>
</html>
