{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{% static 'css/tool/jquery-ui.css' %}">
  <link href="{% static 'css/tool/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/tool/google-api.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom.vessel.css' %}" rel="stylesheet">
</head>
<body id="page-top">
<div id="IMO-001" class="vessel">
    <div id="control-buttons">
        <div id="buttons" class="d-flex flex-row">
            <button type="button" class="btn btn-outline-primary startCombine" onclick="combineToStart()">编辑组贝</button>
            <button type="button" class="btn btn-outline-primary confirmCombine" disabled onclick="combineToConfirm()">确认组贝</button>
            <button type="button" class="btn btn-outline-primary reStartCombine" onclick="combineReset()">重新组贝</button>
            <button type="button" class="btn btn-outline-success createVessel" onclick="createVesselSide()">生成船舶</button>
            <button type="button" class="btn btn-outline-success createStowage" onclick="createStowageInfo()">配载信息</button>
            <button type="button" class="btn btn-outline-success createLoadOrUnload" onclick="createLoadOrUnloadInfo()">待装卸信息</button>
            <button type="button" class="btn btn-outline-success testConnection" onclick="gotoConnect()">测试连接</button>
        </div>
    </div>
    <div class="zoomToggle d-flex flex-row">
        <input id="test" min="1" max="10" value='10' step="1" onchange="showVal(this.value)" type="range"/>
    </div>
    <div class="mainArea">
        <div class="bayArea"></div>
        <div class="newBayArea"></div>
        <div class="vesselAreaSide">
        </div>
        <div class="vesOperationInfo">
            <div class="above">
                <div class="operationInch40Num">

                </div>
                <div class="unload">
                    <div class="aboveUnloadInch40"></div>
                    <div class="aboveUnloadInch20"></div>
                </div>
                <div class="load">
                    <div class="aboveLoadInch40"></div>
                    <div class="aboveLoadInch20"></div>
                </div>
                <div class="operationInch20Num">

                </div>
            </div>
            <div class="board"> </div>
            <div class="below">
                <div class="unload">
                    <div class="belowUnloadInch40"></div>
                    <div class="belowUnloadInch20"></div>
                </div>
                <div class="load">
                    <div class="belowLoadInch40"></div>
                    <div class="belowLoadInch20"></div>
                </div>
            </div>
        </div>
        <div class="vesselStowageInfo">
        </div>
    </div>
</div>
<script src="{% static 'js/tool/jquery.js' %}"></script>
<script src="{% static 'js/tool/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/tool/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/tool/jquery-ui.js' %}"></script>
<script src="{% static 'js/main.min.js' %}"></script>
<script src="{% static 'js/vessel.js' %}"></script>
</body>
</html>
