{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{% static 'images/smu.jpg' %}" rel="icon">
  <link href="{% static 'css/tool/jquery-ui.css' %}" rel="stylesheet">
  <link href="{% static 'css/tool/google-api.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link href="{% static 'css/tool/bootstrap_v4/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom.vessel.load.css' %}" rel="stylesheet">
</head>
<body id="page-top">
<div>
    <h2> test area</h2>
</div>
<script src="{% static 'js/tool/jquery_v3/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/tool/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/main.min.js' %}"></script>
<script src="{% static 'js/tool/bootstrap_v4/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom.vessel.load.js' %}"></script>
</body>
</html>
