{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--  <link href="{% static 'css/tool/jquery-ui.css' %}">-->
<!--  <link href="{% static 'css/tool/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">-->
  <link href="{% static 'css/tool/bootstrap-3.3.7.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/tool/google-api.css' %}" rel="stylesheet">
<!--  <link href="{% static 'css/main.css' %}" rel="stylesheet">-->
</head>
<body id="page-top">
<div class="loadOrUnloadArea">
<!-- TODO: form or layout input  -->
    <h2> add response data to js...</h2>
</div>
<div class="vesselBasicInput">
  <div class="row">
    <div class="col-lg-4">
      <div class="input-group">
      <span class="input-group-addon input-group-lg" id="basic-addon1">@</span>
      <input type="text" class="form-control" placeholder="船名" aria-describedby="basic-addon1">
      </div>
    </div>

    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>
  <div></div>
  <div></div>
</div>
<script src="{% static 'js/tool/jquery.js' %}"></script>
<script src="{% static 'js/tool/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/tool/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/tool/jquery-ui.js' %}"></script>
<script src="{% static 'js/tool/bootstrap/js/bootstrap-3.3.7.min.js' %}"></script>
<script src="{% static 'js/main.min.js' %}"></script>
</body>
</html>
