{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'images/smu.jpg' %}" rel="icon">
    <link href="{% static 'css/tool/jquery-ui.css' %}" rel="stylesheet">
    <link href="{% static 'css/tool/google-api.css' %}" rel="stylesheet">
    <link href="{% static 'css/tool/bootstrap_v4/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.vessel.load.css' %}" rel="stylesheet">
</head>
<body id="page-top">
<div class="allVessels col-md-3">
    <div class="form-group">
        <label for="vesselSelect">请选择船舶</label>
        <select class="form-control" id="vesselSelect">
            {% for v in all_vessel %}
            <option>{{ v }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div id="terminal-all">
    <div class="VESSEL-AREA">
        <div id="control-buttons">
            <div id="buttons-bay" class="d-flex flex-row">
                <button type="button" class="btn btn-outline-primary bayCombineInfo"
                        onclick="getCombineInfo()">当前组贝
                </button>
            </div>
            <div id="buttons-vessel-struct" class="d-flex flex-row">
                <button type="button" class="btn btn-outline-success createVessel"
                        onclick="createVesselSide()">生成船舶
                </button>
            </div>
        </div>
        <div id="toggle-giz">
            <div class="zoomToggle d-flex flex-row">
                <input min="1" max="10" value='10' step="1"
                       onchange="vessel_size_toggle(this.value)" type="range"/>
            </div>
        </div>
        <div id="vessel-area" class="mainArea">
            <div class="vesselAreaSide">
                <div class="onBoardSide"></div>
                <div class="belowBoardSide"></div>
            </div>
            <div class="newBayArea"></div>
        </div>
    </div>
    <div class="OPERATION-AREA top50" style="display: flex;">
        <div id="bay-struct-yard" class="col-md-7" name="bay-struct-yard" style="height: 400px; background-color: red;">
            <div id="table-container" style="display: flex;">
                <div class="table-pos col-md-10" style="height: 300px; background-color: silver;">

                </div>
                <div class="table-con-info col-md-2" style="height: 200px; background-color: black;">

                </div>
            </div>
        </div>
        <div id="bay-struct-vessel" class="col-md-5" name="bay-struct-vessel"
             style="background-color: #fff8d2">
        </div>
    </div>
    <div id="control-button" class="top100">
        <div id="button-yard" class="d-flex flex-row">
            <button type="button" class="btn btn-outline-primary yardInfo"
                    onclick="getYardInfo()">显示堆场
            </button>
        </div>
    </div>
    <div class="toggle-giz">
        <div class="zoomToggle d-flex flex-row">
            <input min="1" max="10" value='10' step="1"
                   onchange="yard_size_toggle(this.value)" type="range"/>
        </div>
    </div>
    <div id="yard-area" class="YARD-AREA top50"></div>
</div>
<script src="{% static 'js/tool/jquery_v3/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/tool/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/tool/bootstrap_v4/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom.vessel.load.js' %}"></script>
</body>
</html>