{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="{% static 'images/smu.jpg' %}" rel="icon">
  <link href="{% static 'css/tool/google-api.css' %}" rel="stylesheet">
  <link href="{% static 'css/tool/bootstrap_v4/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/custom.input.css' %}" rel="stylesheet">
</head>
<body id="page-top">
<div id="IMO-001" class="vessel">
    <div class="allVessels col-md-3">
     <div class="form-group">
        <label for="vesselSelect">选择船舶</label>
        <select class="form-control" id="vesselSelect">
        {% for v in all_vessel %}
          <option>{{ v }}</option>
        {% endfor %}
        </select>
      </div>
    </div>
    <div id="control-buttons">
        <div id="buttons" class="d-flex flex-row">
        <button type="button" class="btn btn-outline-success editLoadOrUnload"
                onclick="editLoadOrUnloadInfo()">编辑装卸信息</button>
        <button type="button" class="btn btn-outline-success confirmLoadOrUnload"
                onclick="confirmLoadOrUnloadInfo()">确认装卸信息</button>
    </div>
        </div>
    </div>
    <div class="zoomToggle d-flex flex-row">
        <input id="test" min="1" max="10" value='10' step="1" onchange="showVal(this.value)" type="range"/>
    </div>
    <div class="mainArea">
        <div class="bayArea">
            <div class="bayArea_40"></div>
            <div id="selectable" class="bayArea_20"></div>
        </div>
        <div class="newBayArea"></div>
        <div class="vesselAreaSide">
            <div class="onBoardSide"></div>
            <div class="belowBoardSide"></div>
        </div>
        <div class="vesOperationInfo">
            <div class="above">
                <div class="operationInch40Num"></div>
                <div class="unload">
                    <div class="aboveUnload_40"></div>
                    <div class="aboveUnload_20"></div>
                </div>
                <div class="load">
                    <div class="aboveLoad_40"></div>
                    <div class="aboveLoad_20"></div>
                </div>
                <div class="operationInch20Num"></div>
            </div>
            <div class="board"></div>
            <div class="below">
                <div class="unload">
                    <div class="belowUnload_40"></div>
                    <div class="belowUnload_20"></div>
                </div>
                <div class="load">
                    <div class="belowLoad_40"></div>
                    <div class="belowLoad_20"></div>
                </div>
            </div>
        </div>
        <div class="vesselStowageInfo">
        </div>
    </div>
</div>
<!-- TODO: form or layout input  -->
    <h2> 定义船舶结构 </h2>
<div class="vesselBasicInput">
  <div class="col-md-9">
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon input-group-lg">船名</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1">
      </div>
      <div class="input-group">
        <span class="input-group-addon input-group-lg">进口航次</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2">
      </div>
      <div class="input-group">
        <span class="input-group-addon input-group-lg">出口航次</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon3">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon input-group-lg">计划靠泊</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon3">
      </div>
      <div class="input-group">
        <span class="input-group-addon input-group-lg">计划离泊</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon4">
      </div>
      <div class="input-group">
        <span class="input-group-addon input-group-lg">出口航次</span>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon3">
      </div>
      <div class="input-group">
        <span class="input-group-addon input-group-lg">实际靠泊（时间）</span>
        <input type="text" class="form-control" placeholder="船名" aria-describedby="basic-addon4">
      </div>
    </div>

    <div class="col-lg-4">
      <div class="input-group">
        <span class="input-group-addon input-group-lg">@</span>
        <input type="text" class="form-control" placeholder="船名" aria-describedby="basic-addon5">
      </div>

      <div class="input-group">
        <span class="input-group-addon input-group-lg" id="basic-addon6">@</span>
        <input type="text" class="form-control" placeholder="船名" aria-describedby="basic-addon6">
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/tool/jquery_v3/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/tool/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/main.min.js' %}"></script>
<script src="{% static 'js/tool/bootstrap_v4/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom.input.js' %}"></script>
</body>
</html>

