body {
    margin:0;
    padding:0;
}

#control-buttons {
    margin-top: 20px;
    margin-bottom: 40px;
}

#control-buttons > div > button {
    margin: 5px;
}

.zoomToggle {
    margin-top:10px;
    margin-bottom: 40px;
}

.mainArea {
    width: 100%;
}

.bayArea .bayZone_inch20 {
    background:#2f96b4;
    width:38px;
    height:30px;
    float:left;
    margin:2px;
    display:flex;
    justify-content:center;
    align-items:center;
}
/* combined bay area */
.bayArea .bayZone_inch40 {
    width:38px;
    height:30px;
    float:left;
    background-color:lightgrey;
    margin:2px;
    position: relative;
}

.newBayArea .newBay20 {
    background:#2f96b4;
    width: 38px;
    height: 60px;
    float:left;
    margin:2px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.newBayArea .comBay20_40 {
    width: 80px;
    height:60px;
    float: left;
    margin: 2px;
}

.newBayArea .comBay20_40 .newBay40InCom {
    width: 80px;
    height: 30px;
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: yellow;
}

.newBayArea .comBay20_40 .newBay20InComParent {
    width: 80px;
    height: 30px;
    display:flex;
    background:#2f96b4;
}

.newBayArea .comBay20_40 .newBay20InComParent .newBay20InComLeft {
    width: 40px;
    height: 30px;
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
    border-right: 1px solid silver;
}

.newBayArea .comBay20_40 .newBay20InComParent .newBay20InComRight {
    width: 40px;
    height: 30px;
    float:left;
    display:flex;
    justify-content:center;
    align-items:center;
    border-left: 1px solid silver;
}
/* combined bay area */
/* vesselOperation */
.vesOperationInfo {
    margin-top: 30px;
}
.vesOperationInfo .above {
    margin-bottom: 20px;
}


.unload > div,
.load > div {
    display: flex;
}

.unloadInch20 {
    background:#dd569e;
    width: 38px;
    height: 20px;
    float:left;
    /*margin:2px;*/
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
}

.loadInch20 {
    background:#373db2;
    width: 38px;
    height: 20px;
    float:left;
    /*margin:2px;*/
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
}

.unloadInch40 {
    background:#dd569e;
    width: 80px;
    height: 20px;
    float: left;
    /*margin:2px;*/
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
}

.loadInch40 {
    background:#373db2;
    width: 80px;
    height: 20px;
    float: left;
    /*margin:2px;*/
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
}

.vesselBodyInLoading {
    background:black;
}
/* vesselOperation */

/* selected bay control when selecting  */
.bayArea_40 .leftBaySelected {
    border-left:5px solid red;
    border-bottom: 3px solid red;
    border-top: 3px solid red;
}

.bayArea_40 .rightBaySelected {
    border-right:5px solid red;
    border-bottom: 3px solid red;
    border-top: 3px solid red;
}

/* selected bay control when selecting  */
.bayArea .bayArea_20,
.bayArea .bayArea_40,
.mainArea .newBayArea {
    display: inline-flex;
}

.mainArea .vesselAreaSide {
    margin-top: 25px;
}

.conZoneBayAbove_inch20 {
    width:38px;
    height:80px; /*  */
    float: left;
    background-color:#d0ddf2;
    margin:2px;
}

.boardSide_inch20 {
    width:42px;
    height:10px;
    float: left;
    background-color:#775614;
}

.conZoneBayBelow_inch20 {
    width:38px;
    height:50px; /*  */
    float:left;
    background-color:#d0ddf2;
    margin:2px;
}

.conZoneBayLayerAbove_inch20,
.conZoneBayLayerBelow_inch20 {
    width:38px;
    height:10px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: white;
}

.vesselBody_inch20 {
    width:38px;
    height:10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: black;
}

.vesselConZone_inch20 {
    width:38px;
    height:10px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
}

.onBoardSide,
.belowBoardSide{
    width: 100%;
    display: inline-flex;
    /*vertical-align: bottom; */
    /* https://stackoverflow.com/questions/38872653/why-inline-flex-element-with-clearfix-has-a-weird-white-space  */
}
/* jquery ui-select */
#feedback {
    font-size: 1.4em;
}

#selectable .ui-selecting {
    background: #FECA40;
}

#selectable .ui-selected {
    background: #F39814;
    color: white;
}
/* jquery ui-select */
/* character in span  */
.bay20Index,
.newBay20Index,
.newBay20IndexInCom,
.loadOrUnloadNum {
    color: #cdd8f6;
}
/* character in span  */
.newBay40IndexInCom,
.vesselBodyBayIndex{
    color: black;
}

.leftBaySelected .bay40Index  {
    float: right;
    margin-right: 2px;
}

.rightBaySelected .bay40Index  {
    float: left;
    margin-left: 2px;
}
/* custom */
@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}
/*.blink{*/
/*    text-decoration: blink;*/
/*    -webkit-animation-name: blinker;*/
/*    -webkit-animation-duration: 0.6s;*/
/*    -webkit-animation-iteration-count:infinite;*/
/*    -webkit-animation-timing-function:ease-in-out;*/
/*    -webkit-animation-direction: alternate;*/
/*}*/
