{% extends "bootstrap/base.html" %}

{% block title %}
    港口堆场决策支持系统
{% endblock %}

{% block navbar %}
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">港口堆场决策支持系统</a></li>
        <ul class="nav  navbar-nav navbar-right">
            <li role="presentation"><a add={{ url_for('first_blue.yard_layout') }} href="#" onclick="choose(this)">堆场集装箱信息查看</a></li>
            <li role="presentation"><a add={{ url_for('first_blue.container_info_input') }} href="#" onclick="choose(this)">堆场集装箱信息录入</a></li>
            <li role="presentation"><a add={{ url_for('first_blue.boat_pre_weight') }} href="#" onclick="choose(this)">船舶预配信息浏览</a></li>
            <li role="presentation"><a add={{ url_for('first_blue.boat_load')  }}  href="#" onclick="choose(this)">船舶装货信息浏览</a></li>
            <li role="presentation"><a add={{ url_for('first_blue.boat_load_strategy')  }} href="#" onclick="choose(this)">船舶配载策略生成</a></li>
            <li role="presentation"><a add={{ url_for('first_blue.container_dispatch_strategy')  }} href="#" onclick="choose(this)">堆场集装箱调度策略</a></li>
        </ul>
    </ul>
    <script>
        function choose(obj) {
            var src_str = obj.getAttribute('add');
            document.getElementById("iframe").src=src_str;
        }
    </script>

{% endblock navbar %}



{% block content %}
    <div class="yard">
        <iframe id="iframe" frameborder="1px" border="2px" src={{ url_for('first_blue.yard_layout') }} height="550px" width="100%" scrolling="auto"></iframe>
    </div>
{% endblock content %}



